:root {
  --main-text-color: #333333;
  --main-font: 'Open Sans', sans-serif;
  --main-indent: 30px;


}

body {
  font-size: 18px;
  font-family: 'Open Sans';
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  display: block;
  margin: 0 auto;
  padding: 10px 32px; 
  cursor: pointer;
  color: var(--white-txt-cl);
  background-color: var(--accent-txt-cl);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border: none;
  border-radius: 4px;
}
/* -------------------------- header ---------------------------  */
.header {
}
.header-logo {
}

.header-nav {
}
.header-list {
}


.header-item {
}
.header-link {
  color:aqua;
}
.header-link:hover,
.header-link:focus{
  color: orange;
}

